@import './sass/footer';
@import './sass/contact';
@import './sass/indexstyle';
@import './sass/galery';
@import './sass/services';
@import './sass/aboutUs';




/*Normalize*/

body {
  font-family: "Abel", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(83, 171, 207, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

header {
  background-color: #333;
}

















